playwright==1.58.0
# дополнительно потребуется установить компоненты (драйверы) для управления браузерами
# playwright install
# или только одним браузером
# playwright install chromium
# playwright полагается на Node.js ( там работает browser driver ), но локальный Node.js будет установлен (локально, не в систему) автоматически при устновке драйвера
#
ipython
ipykernel
